<h1></h1>
<div id="facilityMenu">
    <ul id="facilityTab" class="nav nav-tabs">
        <li id="homeTab" class="active"><a href="#home">Informasjon</a></li>
        <li id="locationTab"><a href="#location">Stedfesting</a></li>
        <li id="imagesTab"><a href="#images">Bilder</a></li>
        <li id="documentsTab"><a href="#documents">Dokumenter</a></li>
        <li id="rentalTab"><a href="#rental">Leieform</a></li>
        <li id="blocked_timeTab"><a href="#blocked_time">Blokkere tid</a></li>
        <li id="administratorsTab"><a href="#administrators">Administratorer</a></li>
        <li id="internal_notesTab"><a href="#internal_notes">Interne notater</a></li>
        <li id="calendarTab"><a href="#calendar">Kalender</a></li>
    </ul>
</div>
