<div class="well">
    <div class="row-fluid">
        <div class="span4">
            <legend>Bruksområder</legend>
            <label class="checkbox"><input id="suitability_meeting" name="suitability_meeting" type="checkbox">Møte, konferanse, seminar</label>
            <label class="checkbox"><input id="suitability_course" name="suitability_course" type="checkbox">Kurs, undervisning</label>
            <label class="checkbox"><input id="suitability_choir" name="suitability_choir" type="checkbox">Kor</label>
            <label class="checkbox"><input id="suitability_orchestra" name="suitability_orchestra" type="checkbox">Korps, orkester</label>
            <label class="checkbox"><input id="suitability_film" name="suitability_film" type="checkbox">Filmvisning</label>
            <label class="checkbox"><input id="suitability_show" name="suitability_show" type="checkbox">Utstilling</label>
            <label class="checkbox"><input id="suitability_hobby" name="suitability_hobby" type="checkbox">Formingsaktiviteter, hobby</label>
            <label class="checkbox"><input id="suitability_drama" name="suitability_drama" type="checkbox">Konsert, forestilling, drama</label>
            <label class="checkbox"><input id="suitability_dance" name="suitability_dance" type="checkbox">Dans</label>
            <label class="checkbox"><input id="suitability_sport" name="suitability_sport" type="checkbox">Idrett, trening</label>
            <label class="checkbox"><input id="suitability_band" name="suitability_band" type="checkbox">Bandøving</label>
        </div>
        <div class="span4">
            <legend>Utstyr</legend>
            <label class="checkbox"><input id="equipment_three_phase_power" name="equipment_three_phase_power" type="checkbox">3-fase strøm</label>
            <label class="checkbox"><input id="equipment_lighting_equipment" name="equipment_lighting_equipment" type="checkbox">Lysanlegg</label>
            <label class="checkbox"><input id="equipment_microphone" name="equipment_microphone" type="checkbox">Mikrofoner</label>
            <label class="checkbox"><input id="equipment_piano" name="equipment_piano" type="checkbox">Piano</label>
            <label class="checkbox"><input id="equipment_sound_equipment" name="equipment_sound_equipment" type="checkbox">Lydanlegg</label>
            <label class="checkbox"><input id="equipment_projector" name="equipment_projector" type="checkbox">Projektor</label>
            <label class="checkbox"><input id="equipment_conference_equipment" name="equipment_conference_equipment" type="checkbox">Konferanseutstyr</label>
            <label class="checkbox"><input id="equipment_scene" name="equipment_scene" type="checkbox">Scene</label>
            <div id="sport_equipment">
              <legend><small>Treningsutstyr</small></legend>
              <label class="checkbox"><input id="equipment_volleyball_net" name="equipment_volleyball_net" type="checkbox">Volleyball-nett</label>
              <label class="checkbox"><input id="equipment_small_football_goals" name="equipment_small_football_goals" type="checkbox">Små fotballmål</label>
              <label class="checkbox"><input id="equipment_handball_goals" name="equipment_floor_ball_boards" type="checkbox">Innebandyvant</label>
              <label class="checkbox"><input id="equipment_floor_ball_boards" name="equipment_handball_goals" type="checkbox">Håndballmål</label>
              <label class="checkbox"><input id="equipment_track_equipment" name="equipment_track_equipment" type="checkbox">Friidrettsutstyr</label>
              <label class="checkbox"><input id="equipment_basketball_hoop" name="equipment_basketball_hoop" type="checkbox">Basketballkurver</label>
              <label class="checkbox"><input id="equipment_badminton_net" name="equipment_badminton_net" type="checkbox">Badminton-nett</label>
              <label class="checkbox"><input id="equipment_turnutstyr" name="equipment_turnutstyr" type="checkbox">Turnutstyr</label>
              <label class="checkbox"><input id="equipment_tennis" name="equipment_tennis" type="checkbox">Tennis</label>
              <label class="checkbox"><input id="equipment_bordtennis" name="equipment_bordtennis" type="checkbox">Bordtennis</label>
            </div>
            <div id="band_equipment">
              <legend><small>Bandutstyr</small></legend>
              <label class="checkbox"><input id="equipment_sing" name="equipment_sing" type="checkbox">Sanganlegg</label>
              <label class="checkbox"><input id="equipment_standing_microphone" name="equipment_standing_microphone" type="checkbox">Mikrofoner med stativ</label>
              <label class="checkbox"><input id="equipment_percussion" name="equipment_percussion" type="checkbox">Slagverk</label>
              <label class="checkbox"><input id="equipment_guitar_amp" name="equipment_guitar_amp" type="checkbox">Gitarforsterker</label>
              <label class="checkbox"><input id="equipment_bass_amp" name="equipment_bass_amp" type="checkbox">Bassforsterker</label>
              <label class="checkbox"><input id="equipment_el_piano" name="equipment_el_piano" type="checkbox">Keyboard eller el-piano</label>
            </div>
        </div>
        <div class="span4">
            <legend>Fasiliteter</legend>
            <label class="checkbox"><input id="amenities_kitchen" name="amenities_kitchen" type="checkbox">Kjøkken</label>
            <label class="checkbox"><input id="amenities_wardrobe" name="amenities_wardrobe" type="checkbox">Garderobe</label>
            <label class="checkbox"><input id="amenities_shower" name="amenities_shower" type="checkbox">Dusj</label>
            <label class="checkbox"><input id="amenities_storage" name="amenities_storage" type="checkbox">Lager</label>
            <label class="checkbox"><input id="amenities_nett" name="amenities_nett" type="checkbox">Trådløst nett</label>
            <legend><small>For gymsal/idrettshall</small></legend>
            <label class="checkbox"><input id="amenities_wooden_floor" name="amenities_wooden_floor" type="checkbox">Parkettgulv</label>
            <label class="checkbox"><input id="amenities_sportsdekke" name="amenities_sportsdekke" type="checkbox">Sportsdekke</label>
            <label class="checkbox"><input id="amenities_running_track" name="amenities_running_track" type="checkbox">Løpebane</label>
            <label class="checkbox"><input id="amenities_stand" name="amenities_stand" type="checkbox">Tribune</label>
            <label class="checkbox"><input id="amenities_climbing_wall" name="amenities_climbing_wall" type="checkbox">Klatrevegg</label>
        </div>
    </div>
</div>
