<div class="well">
    <div class="row-fluid">
        <div class="span4">
            <legend>Tilrettelegging</legend>
            <label class="checkbox"><input id="accessibility_elevator" name="accessibility_elevator" type="checkbox">Heis</label>
            <label class="checkbox"><input id="accessibility_marking_for_visually_impaired" name="accessibility_marking_for_visually_impaired" type="checkbox">Merking for svaksynte</label>
            <label class="checkbox"><input id="accessibility_induction_loop" name="accessibility_induction_loop" type="checkbox">Teleslynge</label>
            <label class="checkbox"><input id="accessibility_available_by_wheelchair" name="accessibility_available_by_wheelchair" type="checkbox">Tilrettelegging for
                rullestolbrukere</label>
            <label class="checkbox"><input id="accessibility_wheelchair_wc" name="accessibility_wheelchair_wc" type="checkbox">Toalett for rullestolbrukere</label>
        </div>
        <div class="span4">
            <legend>Ressurser</legend>
            <label class="checkbox"><input id="facilitators_sound_technician" name="facilitators_sound_technician" type="checkbox">Lydtekniker</label>
            <label class="checkbox"><input id="facilitators_light_technician" name="facilitators_light_technician" type="checkbox">Lystekniker</label>
            <label class="checkbox"><input id="facilitators_supervising_guard" name="facilitators_supervising_guard" type="checkbox">Tilsynsvakt</label>
            <label class="checkbox"><input id="facilitators_external_guard" name="facilitators_external_guard" type="checkbox">Ekstern vakt</label>
            <label class="checkbox"><input id="facilitators_extra_cleaning" name="facilitators_extra_cleaning" type="checkbox">Ekstra renhold</label>
        </div>
    </div>
</div>
