<div class="well">
    <div class="row-fluid">
        <div class="span6">
            <legend>Leieform</legend>
            <form id="rental_types">
                <label class="checkbox">
                    <input type="checkbox" id="repeating_booking_allowed">Fast lån
                    <span class="help-block">Organisasjoner kan søke om fast regelmessig lån av dette lokalet kommende periode (En årlig søknadsfrist; Utlånstjenesten gjør vedtak i samråd med enheten)</span>
                </label>

                <label class="checkbox">
                    <input type="checkbox" id="single_booking_allowed">Engangslån
                    <span class="help-block">Organisasjoner/personer kan søke om engangslån av dette lokalet (Søknadsfrist 3 uker før; enheten avgjør tildeling)</span>
                </label>

                <label class="checkbox">
                    <input type="checkbox" id="auto_approval_allowed">Strøtimer
                    <span class="help-block">Organisasjoner/personer kan booke ledig tid i dette lokalet inntil 3 uker fram i tid (Selvbetjening – godkjenning ikke nødvendig)</span>
                </label>

                <label class="checkbox">
                    <input type="checkbox" id="rammetid_allowed">Rammetid
                    <span class="help-block">Det er mulig for Trondheim kommune å legge inn rammetid i dette lokalet</span>
                </label>

                <button id="save_button" type="submit" class="btn btn-primary">Lagre</button>
            </form>
        </div>
    </div>
</div>