<script type="text/template" id="timepicker_template">
    <div class="row-fluid">
        <div class="span2">
            <div class="control-group">
                <label class="control-label" for="fromSelect"><strong>Fra</strong></label>
                <div class="controls">
                    <select class="input-small" id="fromSelect"></select>
                </div>
            </div>
        </div>
        <div class="span2">
            <div class="control-group">
                <label class="control-label" for="toSelect"><strong>Til</strong></label>
                <div class="controls">
                    <select class="input-small" id="toSelect"></select>
                </div>
            </div>
        </div>
    </div>
</script>