{% extends "base.html" %}


{% block js %}
{{ super() }}
{% assets "applications_js" %}
<script type="text/javascript" src="{{ ASSET_URL }}"></script>
{% endassets %}

<script type="text/javascript">
    (function() {
        "use strict";
        var applications = new Flod.ApplicationList({{applications | safe}});
        new Flod.ApplicationListView({"collection": applications, "el": $("#applications")}).render();

    }());
</script>

{% endblock %}

{% block content %}
{{ super() }}
        <h2>Søknader</h2>

        <div class="well">
            <a class="btn btn-primary" href="/application_for_actor">Opprett søknad for aktør</a>
        </div>

        <ul class="nav nav-tabs">
            <li{% if status == 'Pending' %} class="active"{% endif %}>
                <a href="/">Avventer behandling</a>
            </li>
            <li{% if status == 'Processing' %} class="active"{% endif %}>
                <a href="/?status=processing">Behandles</a>
            </li>
            <li{% if status == 'Granted' %} class="active"{% endif %}>
                <a href="/?status=granted">Godkjent</a>
            </li>
            <li{% if status == 'Denied' %} class="active"{% endif %}>
                <a href="/?status=denied">Avvist</a>
            </li>
        </ul>

        <div id="applications"></div>
{% endblock %}

{% block templates %}
{{ super() }}
{% include "application_list_js_templates.html" %}
{% endblock %}
