<div class="well">
	<form class="form-horizontal" id="notes-form">
	    <legend>Notat (<span class="alert-danger">INTERNT</span>)</legend>
	    <div class="control-group" id="title-group">
	          <label class="control-label">Tekst</label>
	          <div class="controls">
					<textarea id="text" class="span9" rows="6" name="text"></textarea>
					<span class="help-inline">Vises bare for saksbehandlere</span>  
	          </div>
	     </div>
	    <div class="control-group">
	      <div class="controls">
	        <button type="submit" class="btn btn-primary" id="save-notat">Lagre</button>
	      </div>
	    </div>
	</form>
</div>