*.*~
*.DS_Store
*.pyc
*.sql
*.sublime-project
*.sublime-workspace
*~
*.json
.coverage
.env
.idea
.shell-env
.shell-env-test
coverage.xml
flod_auth.db
nosetests.xml
venv
/docs/_build/
.sonar/
nose
pip-delete-this-directory.txt
