.flod-calendar {
    table-layout:fixed;
    min-width: 1000px;
    cursor: default;
}

.flod-calendar .gray, .flod-calendar tbody > tr:nth-child(even) > *:first-child {
    background: #E4E4E4;
}

.flod-calendar th {
    width: 25px;
    max-width: 25px;
}
.flod-calendar th, td {
    border: 1px solid #CCCCCC;
}

.flod-calendar tr {
    height: 26px;
    max-height: 26px;
}

.flod-calendar > thead > tr > *:first-child, .flod-table > tbody > tr > *:first-child {
    width: auto;

}

.flod-calendar .slot_title {
    overflow: hidden;
    white-space: nowrap;
    max-width: 150px;
    text-overflow: ellipsis;
}

.flod-calendar .slot {
    padding: 0;
    height: 25px;

}

.flod-calendar .timeslot {
    border-radius: 7px 7px 7px 7px;
    font-size: 12px;
    height: 25px;
    max-height: 25px;
    overflow: hidden;
    -webkit-box-sizing: border-box; /* Safari/Chrome, other WebKit */
    -moz-box-sizing: border-box;    /* Firefox, other Gecko */
    box-sizing: border-box;         /* Opera/IE 8+ */
    padding: 3px;

    /*
    background-image: -webkit-gradient(linear, 0 100%, 100% 0, color-stop(0.25, rgba(255, 255, 255, 0.15)), color-stop(0.25, transparent), color-stop(0.5, transparent), color-stop(0.5, rgba(255, 255, 255, 0.15)), color-stop(0.75, rgba(255, 255, 255, 0.15)), color-stop(0.75, transparent), to(transparent));
    background-image: -webkit-linear-gradient(45deg, rgba(255, 255, 255, 0.15) 25%, transparent 25%, transparent 50%, rgba(255, 255, 255, 0.15) 50%, rgba(255, 255, 255, 0.15) 75%, transparent 75%, transparent);
    background-image: -moz-linear-gradient(45deg, rgba(255, 255, 255, 0.15) 25%, transparent 25%, transparent 50%, rgba(255, 255, 255, 0.15) 50%, rgba(255, 255, 255, 0.15) 75%, transparent 75%, transparent);
    background-image: -o-linear-gradient(45deg, rgba(255, 255, 255, 0.15) 25%, transparent 25%, transparent 50%, rgba(255, 255, 255, 0.15) 50%, rgba(255, 255, 255, 0.15) 75%, transparent 75%, transparent);
    background-image: linear-gradient(45deg, rgba(255, 255, 255, 0.15) 25%, transparent 25%, transparent 50%, rgba(255, 255, 255, 0.15) 50%, rgba(255, 255, 255, 0.15) 75%, transparent 75%, transparent);
    -webkit-background-size: 40px 40px;
    -moz-background-size: 40px 40px;
    -o-background-size: 40px 40px;
    background-size: 40px 40px;
    */

}

.flod-calendar .ui-draggable {
    cursor: pointer;
}

.legend {
    margin-top: 10px;
    width: 350px;
}

/* status styles */
.flod-calendar .unknown, .legend .unknown,
.flod-calendar .pending, .legend .pending {
    background-color: #D9EDF7;
}

.flod-calendar .other, .legend .other {
    background-color: gray;
}

.flod-calendar .granted, .legend .granted,
.flod-calendar .collision, .legend .collision,
.flod-calendar .denied, .legend .denied {
    background-color: #B94A48;
}

.flod-calendar .rammetid, .legend .rammetid {
    background-color: #336699;
}

.flod-calendar .reserved, .legend .reserved  {
    background: #A8A8A8;
    border-radius:0;
    border: 0;
}
.flod-calendar .processing, .legend .processing {
    background-color: #BEF7B0;
}

.flod-calendar-chooser {
    border-top: 1px solid #CCCCCC;
    border-left: 1px solid #CCCCCC;
    border-right: 1px solid #CCCCCC;
}

.flod-calendar-chooser> tbody > tr > *:first-child {
    width: 156px;
}

.flod-calendar-chooser td  {
    border: 0;
    text-align: center;
}

.flod-calendar-chooser td.selectable {
    cursor: pointer;
}

.flod-calendar-chooser td.selected  {

    cursor: default;
}

.flod-calendar-chooser td.otherdate {
    cursor: pointer;
    font-size: 90%;
    color: #666;
}

.flod-calendar-chooser td.current {
    color: #0088CC;
}

.flod-calendar-chooser td.disabled  {
    color: #CCCCCC;
    cursor: default;
}

.flod-calendar-chooser .flod-btn {
    width: 15px;
}

.flod-calendar-chooser .flod-btn i {
    cursor: pointer;
}

.flod-calendar .unsaved  {
    opacity:0.6;
    filter:alpha(opacity=60); /* For IE8 and earlier */
}