<div class="row-fluid footer">
    <div class="span4">
        <div class="page-header">
            <h2>Lokaler</h2>
        </div>
        <ul class="unstyled">
            <li><a href="/search">Oversikt lokaler</a></li>
            <li><a href="/search#category=8">Oversikt idrettsanlegg</a></li>
            <li><a href="http://trondheim.kommune.no/lokaler/om/">Om utlånsordningen</a></li>
            <li><a href="http://trondheim.kommune.no/lokaler/reglement/">Utlånsreglement</a></li>
        </ul>
    </div>

    <div class="span4">
        <div class="page-header">
            <h2>Aktørbasen</h2>
        </div>
        <ul class="unstyled">
            <li><a href="/organisations">Finn aktør</a></li>
            <li><a href="/register_org">Registrer ny aktør</a></li>
            <li><a href="http://trondheim.kommune.no/aktorbasen/">Om aktørbasen</a></li>
            <li><a href="http://trondheim.kommune.no/lokaler/bronnoysundregistrene/">Brønnøysundregisteret</a></li>
        </ul>
    </div>
    <div class="span4">
        <div class="page-header">
            <h2>Hjelp</h2>
        </div>
        <ul class="unstyled">
            <li><a href="http://trondheim.kommune.no/lokaler/faq/">Ofte stilte spørsmål</a></li>
            <li><a href="http://trondheim.kommune.no/lokaler/kontakt/">Kontakt oss</a></li>
        </ul>
    </div>

</div>
