<div class="navbar navbar-inverse">
    <div class="navbar-inner">
        <a class="brand pull-left-desktop-only" href="/"><img alt="Trondheim Kommune Logo" src="{{ url_for('static', filename='images/tk-logo-only.png')}}" /> TRONDHEIM KOMMUNE {{app_name}}</a>
        <form id="quicksearch" class="navbar-search pull-right">
            <div class="dropdown">
                <div class="input-append">
                    <input class="typeahead" type="text" placeholder="Skriv navn på lokale">
                    <button class="btn" type="button"><i class="icon-search"></i></button>
                </div>
                <ul class="dropdown-menu">

                </ul>
            </div>
        </form>
</div>
</div>
