{% extends "base.html" %}

{% block css %}
{{ super() }}
{% assets "calendar_css" %}
<link rel="stylesheet" type="text/css" media="all" href="{{ ASSET_URL }}" />
{% endassets %}
{% endblock %}

{% block js %}
{{ super() }}
{% assets "calendar_js" %}
<script type="text/javascript" src="{{ ASSET_URL }}"></script>
{% endassets %}
{% assets "rammetid_js" %}
<script type="text/javascript" src="{{ ASSET_URL }}"></script>
{% endassets %}
<script type="text/javascript">

    (function () {
        "use strict";

        var umbrellaOrganisation = {{umbrella_organisation | safe}};
        var resources = {{resources | safe}};
        var memberOrganisations = {{member_organisations| safe}};

        new Flod.RammetidView({
            el: $("#rammetid_view"),
            umbrellaOrganisation: new Flod.UmbrellaOrganisation(umbrellaOrganisation),
            resources: new Flod.Resources(resources),
            memberOrganisations: new Flod.MemberOrganisations(memberOrganisations, {parse: true})
        }).render();

    }());
</script>
{% endblock %}

{% block content %}
{{ super() }}
<h1>Fordel rammetid for {{umbrella_org_name}}</h1>
<p>For å fordele rammetiden tildelt denne paraplyorganisasjonen velger du først periode, så lokale deretter medlemsorganisasjonen du vil tildele rammetiden til.</p>
<div id="rammetid_view"></div>
{% endblock %}

{% block templates %}
{{ super() }}
<script type="text/template" id="rammetid_main_template">
    <div class="row-fluid">
        <div class="span4" id="resources"></div>
        <div class="span4" id="dates_selection"></div>
        <div class="span4" id="member-organisations"></div>
    </div>
    <div class="row-fluid">
        <div class="span12" id="calendar">
        </div>
    </div>
    <br />
    <div class="row-fluid">
        <div class="span11">
            <button id="save" class="btn btn-primary" disabled="disabled" type="button">Tildel rammetid</button>
            <button id="delete" class="btn btn-primary pull-right" disabled="disabled" type="button">Slett</button>
        </div>
    </div>
    <div class="row-fluid">
        <div class="span12" id="error_messages"></div>
    </div>
    <div class="row-fluid">
        <div class="legend span6">
        </div>
    </div>
</script>

<script type="text/template" id="dropdown_template">
    <div class="control-group">
        <label for="id_<%= title %>" ><%= title %></label>
        <select id="id_<%= title %>">
            <option>Velg <% print(title.toLowerCase()) %>...</option>
            <%  _.each(values, function(value) { %>
            <option value="<%=value.id %>"><%=value.name %></option>
            <% }); %>
        </select>
    </div>
</script>

{% include "js_templates/alert.html" %}

{% endblock %}